@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --background-color:#04041d;
  --text-color: #F4F4F5;
  --primary-color: #8B5CF6; /*buttons, links, highlights*/
  --secondary-color: #22D3EE;/*small elements, hover effects*/
  --highlight-color: #EC4899;/**/
  --font-family: "Fira Code", monospace;
  --font-heading: 'Space Grotesk', sans-serif;
  --border-color: #45d5ecff;
}

html {
  scroll-behaviour: smooth;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  letter-spacing: 1px;
  line-height: auto;
}

