.experience-section{
    min-height: 100vh;
    background-image: url('../images/bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

.job-tag{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}

.company-role li{
    list-style-type: circle;
}

.coding-tutorial{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

youtube-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}